@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Vollkorn&display=swap');

@import "nullstyle.scss";

//variable
$minwidth: 320px;
$mw: 950px;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


body{
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	// font-family: 'Vollkorn', serif;
}

/*general*/
.wrapper{
   min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 970px; // +30px
	padding: 0px 15px;
	margin: 0 auto;
}
/*page*/
.page {
   flex: 1 1 auto;
}

/*background*/
._ibg {
	position: relative;
}

._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*--------------------------------------------------------------------------------------------------------*/

/*header*/

.header{
   position: fixed;
   top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
   background-color: #323232;
   &__container{
		display: flex;
		align-items: center;
		min-height: 60px;
		padding: 0px 15px;
		position: relative;
	}

		&__logo {
			font-size: 24px;
			line-height: 20px;
			text-transform: uppercase;
			color: #EDEDED;
			padding: 0px 30px 0px 0px;
			z-index: 2;
			img {
				max-width: 100%;
				padding: 0px 8px 0px 0px;
			}
		}

		&__menu {
			display: flex;
		}


.menu {

		&__icon {
		}

		&__body {
			
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			
		}

		&__link {
			
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #EDEDED;
			padding: 20px 30px;	
			transition: .3s;		
			border-right: 1px solid #4D4D4D;
			border-left: 1px solid #4D4D4D;
			@media (max-width:615.98px){
				border-right: 1px solid #5c5c5c;
			   border-left: 1px solid #5c5c5c;
				padding: 0px;
			}
			&_active {
				color: #C7AA8B;
				background: #000000;
				@media (max-width:615.98px){
					color: #EDEDED;
					background: transparent;
				}
			}
		}

		&__link:hover {
			color: #C7AA8B;
			background: #000000;	
			@media (max-width:615.98px){
				color: #EDEDED;
				background: transparent;
			}	
		}


		&__social {
		}

		&__social-list {
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			right: 0;
		}

		&__social-link {
			padding: 22px 25px;
			border-right: 1px solid #4D4D4D;
			border-left: 1px solid #4D4D4D;
			transition: .3s;
		}

		

		&__social-link:hover {
			background: #000000;	
		}
}

@media (max-width: 615.98px){  
	

	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		
	
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all .3s ease 0s;
		background-color: #fff;
	}

	.menu__icon::before,
	.menu__icon::after{
		content: "";
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	
	.menu__icon._active span{
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #5c5c5c; // change
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;  

		text-align: center; 
		display: flex;
		flex-direction: column;
		justify-content: center;	//central menu
	}

	.menu__body._active {
		left: 0;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 60px; // change height
		background-color: #323232; //change
		z-index: 2;
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;

		flex: 1 1 100%; //center menu
	}

	.menu__list > li:last-child {
		margin-bottom: 0px;
	}

	.menu__list > li._active .menu__sub-list{
		display: block;
	}
	
	.menu__link {
		font-size: 36px;	
	}

	
	
}
}



/*
@media (max-width: 767px){  burger
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}

	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all .3s ease 0s;
		background-color: #fff;
	}

	.menu__icon::before,
	.menu__icon::after{
		content: "";
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after {
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	
	.menu__icon._active span{
		transform: scale(0) translate(0px, -50%);
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9); // change
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;  

		text-align: center; 
		display: flex;
		flex-direction: column;
		justify-content: center;	//central menu
	}

	.menu__body._active {
		left: 0;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px; // change height
		background-color: #912105; //change
		z-index: 2;
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;

		flex: 1 1 100%; //center menu
	}

	.menu__list > li:last-child {
		margin-bottom: 0px;
	}

	.menu__list > li._active .menu__sub-list{
		display: block;
	}
	
	.menu__link {
		font-size: 24px;
	}

	.menu__sub-list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
	}

	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
}
*/



/*intro*/


/*footer*/


/*spollers
	.block._init .block__title {
		cursor: pointer;
	}

	.block._init .block__title {
		padding: 10px 40px 10px 10px;
	}

	.block._init .block__title::before,
	.block._init .block__title::after {
		content: "";
		width: 20px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		right: 10px;
		top: 20px;
		transition: transform 0.3s ease 0s;
	}

	.block._init .block__title::after {
		transform: rotate(-90deg);
	}

	.block._init .block__title._active::after {
		transform: rotate(0deg);
	}
	*/
